/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.customTextarea {
  display: grid;
  /* Creiamo un’area unica chiamata 'stack' */
  grid-template-areas: "stack";

  /* Tutti i figli e l’after occupano la stessa area */
}

.customTextarea > *,
.customTextarea::after {
  grid-area: stack;
}